@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.aditii-navbar .aditii-rightLink, .levi-container-row .levi-img, .products-title, .products-card .products-btn-div, .footer-container .copyright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-card, .products-card-body, .levi-footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aditii-navbar .aditii-rightLink__sum, .navbar-nav .nav-link, .levi-container-row .levi-card-title, .levi-container-row .levi-card-btn, .branded-card .branded-btn, .branded-card-title, .products-title h5, .products-card .products-btn-div a, .products .products-btn-price, .levi-footer h5 {
  font-family: 'Bebas Neue', sans-serif;
}

.levi-container-row .levi-card-text, .levi-footer a, .footer-container p {
  font-family: 'Open Sans', sans-serif;
}

.branded-card .branded-btn, .products-card .products-btn-div a {
  padding: 12px 15px 10px 15px;
  border-radius: 3px;
  background-color: #3cc395;
  border: #3cc395;
  color: #fff;
}

.branded-card .branded-btn:hover, .branded-card .branded-btn:focus, .products-card .products-btn-div a:hover, .products-card .products-btn-div a:focus {
  background-color: #a1a1a1;
  border-color: #fff;
  -webkit-box-shadow: 0 0 0 0.01rem;
          box-shadow: 0 0 0 0.01rem;
}

.aditii-container {
  max-width: 986px;
  margin: 0 auto;
}

.aditii-text {
  color: #fff !important;
}

.aditii-navbar {
  padding: 60px 0 20px 0;
  background-color: #fff !important;
}

.aditii-navbar .aditii-rightLink {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aditii-navbar .aditii-rightLink__sum {
  width: 50px;
  height: 27px;
  font-size: 33px;
  line-height: 1.32;
  color: #a1a1a1;
}

.aditii-navbar .aditii-rightLink img:first-child {
  margin-right: 17px;
}

.aditii-menu {
  background: #4ccfc1;
}

.navbar-nav .nav-link {
  padding: 9px 25px;
  text-align: center;
  font-size: 21px;
  line-height: 0.9;
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

.navbar-nav .nav-item:nth-child(n+2) {
  border-left: 2px solid #fff;
  height: 30px;
}

.navbar-light .navbar-toggler {
  border-color: #fff !important;
}

.navbar-light .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #fff !important;
          box-shadow: 0 0 0 0.2rem #fff !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  color: #fff !important;
  text-align: center;
  font-size: 22px;
  display: inline;
}

.navbar-light .navbar-brand {
  margin-right: 0;
}

.bg-light {
  background-color: transparent !important;
}

.levi-container {
  background: #3fc5b3;
}

.levi-container-row {
  padding: 67px 0 54px 0;
}

.levi-container-row .levi-img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.levi-container-row .levi-card {
  background-color: transparent;
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 415px;
          flex: 0 0 415px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.levi-container-row .levi-card-body {
  padding: 0;
}

.levi-container-row .levi-card-title {
  font-size: 61px;
  line-height: 0.89;
  margin: 15px 0 26px 0;
}

.levi-container-row .levi-card-text {
  font-size: 17px;
  line-height: 1.65;
  margin-bottom: 32px;
}

.levi-container-row .levi-card-btn {
  font-size: 25px;
  line-height: 1.35;
  display: block;
  width: 143px;
  height: 49px;
  color: #fff;
  background-color: transparent;
  border: solid 3px #fff;
  border-radius: 10px;
  padding: 7px 25px;
  margin-bottom: 51px;
}

.levi-container-row .levi-card-btn:hover, .levi-container-row .levi-card-btn:focus {
  color: #fff;
  background-color: #a1a1a1;
  border-color: #fff;
  -webkit-box-shadow: 0 0 0 0.01rem;
          box-shadow: 0 0 0 0.01rem;
}

.branded-card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: transparent;
}

.branded-card img {
  height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}

.branded-card .branded-btn {
  font-size: 19px;
  line-height: 1;
}

.branded-card .branded-btn img {
  width: 202px;
  -o-object-fit: contain;
     object-fit: contain;
}

.branded-card-title {
  font-size: 27px;
  line-height: 0.93;
  text-align: left;
  color: #afafaf;
  margin-bottom: 20px;
}

.branded-card-body {
  padding-left: 0;
  padding-top: 32px;
}

.branded-card .branded-goods02 {
  margin: 0 52px 0 15px;
}

.branded-card .branded-goods03 {
  margin: 0 77px 0 44px;
}

.branded-col {
  padding: 21px 0 18px 0;
}

.branded-col2 {
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

.products-title {
  min-height: 67px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.products-title h5 {
  margin: 0 0 0 30px;
  font-size: 31px;
  line-height: 0.81;
}

.products-img {
  height: 126px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 20px;
}

.products-card {
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: 0 0 0 0.1rem #e7e7e7;
          box-shadow: 0 0 0 0.1rem #e7e7e7;
  border-bottom: 5px solid #3cc395;
}

.products-card-title {
  margin: 12px 0;
}

.products-card-body {
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-card .products-btn-div {
  min-width: 135px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.products-card .products-btn-div a {
  font-size: 19px;
  line-height: 1;
}

.products .products-btn-price {
  margin: 0 15px 0 0;
  font-size: 27px;
  line-height: 0.93;
  text-align: left;
  color: #afafaf;
}

.products .products-col {
  padding: 30px;
}

.levi-footer {
  min-height: 337px;
}

.levi-footer__col {
  padding: 0 40px;
  margin-bottom: 41px;
}

.levi-footer h5 {
  font-size: 27px;
  line-height: 0.93;
  text-align: left;
  margin: 43px 0 32px 0;
}

.levi-footer a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  line-height: 1.87;
  text-align: left;
}

.footer-container {
  background: #2da89b;
}

.footer-container p {
  font-size: 15px;
  line-height: 1.87;
  margin: 0;
}

.footer-container .copyright-container {
  min-height: 46px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */