@import "variable"

.aditii-container
    max-width: 986px
    margin: 0 auto

.aditii-text
    color: $colorMain !important

.aditii-navbar
    padding: 60px 0 20px 0
    background-color: $colorMain !important

    .aditii-rightLink
        +justifyContent (space-between)
        &__sum
            width: 50px
            height: 27px
            +fontMain (33px, 1.32)
            color: $colorButtonHover
        img:first-child
            margin-right: 17px

.aditii-menu
    background: $colorBackLight

.navbar-nav
    .nav-link
        padding: 9px 25px
        text-align: center
        +fontMain (21px, 0.9)
    .nav-item
        padding: 0 10px
    .nav-item:nth-child(n+2)
        border-left: 2px solid $colorMain
        height: 30px

.navbar-light
    .navbar-toggler
        border-color: $colorMain !important
        &:focus
            box-shadow: 0 0 0 0.20rem $colorMain !important
    .navbar-toggler-icon
        background-image: none
        color: $colorMain !important
        text-align: center
        font-size: 22px
        display: inline
    .navbar-brand
        margin-right: 0

.bg-light
    background-color: transparent!important

.levi-container
    background: $colorBackDark

.levi-container-row
    padding: 67px 0 54px 0
    .levi-img
        +justifyContent (center)
    .levi-card
        background-color: transparent
        border: none
        flex: 0 0 415px
        box-sizing: border-box
        &-body
            padding: 0
        &-title
            +fontMain (61px, 0.89)
            margin: 15px 0 26px 0
        &-text
            +fontExtra (17px, 1.65)
            margin-bottom: 32px
        &-btn
            +fontMain (25px, 1.35)
            display: block
            width: 143px
            height: 49px
            color: $colorMain
            background-color: transparent
            border: solid 3px $colorMain
            border-radius: 10px
            padding: 7px 25px
            margin-bottom: 51px
            &:hover,
            &:focus
                color: $colorMain
                background-color: $colorButtonHover
                border-color: $colorMain
                box-shadow: 0 0 0 0.01rem

.branded-card
    flex-direction: row
    border: transparent

.branded-card img
    height: 140px
    object-fit: contain

.branded-col
    padding: 21px 0 18px 0

.branded-col2
    border-right: 1px solid $colorBorder
    border-left: 1px solid $colorBorder

.branded-btn
    padding: 10px 15px
    border-radius: 3px
    background-color: $colorButton
    border: $colorButton
    color: $colorMain
    +fontMain (19px, 1)

.branded-btn:hover,
.branded-btn:focus
    background-color: $colorButtonHover
    border-color: $colorMain
    box-shadow: 0 0 0 0.01rem
.branded-btn img
    width: 202px
    object-fit: contain

.branded-card-title
    +fontMain (27px, 0.93)
    text-align: left
    color: $colorBrandedTitle
    margin-bottom: 20px

.branded-card-body
    padding-left: 0
    padding-top: 32px

.products-goods02
    margin: 0 52px 0 15px

.products-goods03
    margin: 0 77px 0 44px

.products-title
    min-height: 67px
    +justifyContent (start)
    align-items: center
    margin-bottom: 30px

.products-title h5
    margin: 0 0 0 30px
    +fontMain (31px, 0.81)

.products-img
    height: 126px
    object-fit: contain
    margin-top: 20px

.products-card
    border: 1px solid $colorBorder
    box-shadow: 0 0 0 0.10rem $colorBorder
    border-bottom: 5px solid $colorButton
    @extend %flexColumnCenter

.products-card-body
    padding: 0
    @extend %flexColumnCenter
    align-items: center

.products-btn-div
    min-width: 135px
    +justifyContent (space-between)
    align-items: center
    margin-bottom: 35px

.products-btn-div div
    margin: 0 15px 0 0

.products-card-title
    margin: 12px 0

.products-col
    padding: 30px

.levi-footer
    min-height: 337px
    &__col
        @extend %flexColumnCenter
        padding: 0 40px
        margin-bottom: 41px

.levi-footer h5
    +fontMain (27px, 0.93)
    text-align: left
    margin: 43px 0 32px 0

.levi-footer a
    display: block
    text-decoration: none
    color: inherit
    +fontExtra (15px, 1.87)
    text-align: left

.footer-container
    background: $colorFooter

.copyright-container
    min-height: 46px
    +justifyContent (center)
    align-items: center

.footer-container p
    +fontExtra (15px, 1.87)
    margin: 0
