@import "variable"
@import "fonts"
.aditii-container
    max-width: 986px
    margin: 0 auto

.aditii-text
    color: $colorWhite !important

.aditii-navbar
    padding: 60px 0 20px 0
    background-color: $colorWhite !important

.aditii-rightLink
    display: flex
    justify-content: space-between
    &__sum
        width: 50px
        height: 27px
        font: 33px 'Bebas Neue', sans-serif
        color: $colorGrey

.aditii-rightLink img:first-child
    margin-right: 17px

.aditii-menu
    background: $colorBackLight
.navbar-nav .nav-link
    padding: 9px 25px
    text-align: center
    font-size: 21px
    font-family: 'Bebas Neue', cursive, sans-serif
    line-height: 0.9
.navbar-nav .nav-item
    min-width: 98px

.navbar-light .navbar-toggler
    border-color: $colorWhite !important

.navbar-toggler:focus
    box-shadow: 0 0 0 0.20rem $colorWhite !important

.navbar-light .navbar-toggler-icon
    background-image: none
    color: $colorWhite !important
    text-align: center
    font-size: 22px
    display: inline

.navbar-nav .nav-item:nth-child(n+2)
    border-left: 2px solid $colorWhite
    height: 30px
.bg-light
    background-color: transparent!important

.navbar-brand
    margin-right: 0

.levi-container
    background: $colorBackDark

.levi-container-row
    padding: 67px 0 54px 0
.levi-img
    display: flex
    justify-content: center

.levi-btn
    padding: 7px 25px
    font: 25px 'Bebas Neue', sans-serif
    display: block
    width: 143px
    height: 49px
    color: $colorWhite
    background-color: transparent
    border: solid 3px $colorWhite
    border-radius: 10px
    margin-bottom: 51px

.levi-btn:hover,
.levi-btn:focus
    color: $colorWhite
    background-color: $colorGrey
    border-color: $colorWhite
    box-shadow: 0 0 0 0.01rem

.levi-card
    background-color: transparent
    border: none
    flex: 0 0 415px
    box-sizing: border-box

.levi-card-body
    padding: 0

.levi-card-title
    font: 61px 'Bebas Neue', cursive, sans-serif
    line-height: 0.89
    margin: 15px 0 26px 0

.levi-card-text
    font-size: 17px
    font-family: 'Open Sans', sans-serif
    line-height: 1.65
    margin-bottom: 32px
.branded-card
    flex-direction: row
    border: transparent

.branded-card img
    height: 140px
    object-fit: contain

.branded-col
    padding-top: 21px
    padding-bottom: 18px

.branded-col2
    border-right: 1px solid $colorBorderGrey
    border-left: 1px solid $colorBorderGrey

.branded-btn
    padding: 10px 15px
    border-radius: 3px
    background-color: $colorButton
    border: $colorButton
    color: $colorWhite
    font: 19px 'Bebas Neue', sans-serif

.branded-btn:hover,
.branded-btn:focus
    background-color: $colorGrey
    border-color: $colorWhite
    box-shadow: 0 0 0 0.01rem
.branded-btn img
    width: 202px
    object-fit: contain

.branded-card-title
    font: 27px 'Bebas Neue', sans-serif
    line-height: 0.93
    text-align: left
    color: $colorButtonGrey
    margin-bottom: 20px

.branded-card-body
    padding-left: 0
    padding-top: 32px

.products-goods02
    margin-right: 52px
    margin-left: 15px
.products-goods03
    margin-right: 77px
    margin-left: 44px

.products-title
    min-height: 67px
    display: flex
    justify-content: start
    align-items: center
    margin-bottom: 30px

.products-title h5
    margin: 0 0 0 60px
    font: 31px 'Bebas Neue', sans-serif

.products-img
    height: 126px
    object-fit: contain
    margin-top: 20px

.products-card
    border: 1px solid $colorBorderGrey
    box-shadow: 0 0 0 0.10rem $colorBorderGrey
    border-bottom: 5px solid $colorButton
    display: flex !important
    flex-direction: column!important
    justify-content: center
    align-items: center

.products-card-body
    padding: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.products-btn-div
    min-width: 135px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 35px

.products-btn-div div
    margin: 0 15px 0 0

.products-card-title
    margin: 12px 0

.products-col
    padding: 30px
